<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="container py-5">
      <h3 class="text-center"><%= title %></h3>
      <% genres.forEach((genre) => { %>
      <a href="<%= genre.url %>">
        <div class="card my-2">
          <div class="card-body">
            <%= genre.name %>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>