<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row d-flex justify-content-center">
             <div class="col-md-8">
              <h3 class="text-center"><%= movie.title %></h3>
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/images/no_image.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5><%= movie.genre %></h5>
                  <p class="card-text" id="description"><%= movie.description %></p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="<%= movie.url %>/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
                      <a href="<%= movie.url %>/delete" class="btn btn-sm btn-outline-secondary">Delete</a>
                    </div>
                    Qty: <%= movie.stock %> | <%= movie.cost %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>